.schedule-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th {
    background-color: var(--primary-font-color);
    color: white;
    text-align: left;
    padding: 12px;
    font-weight: 600;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: var(--secondary-bg-color);
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--primary-font-light-color);
    font-weight: 600;
    font-size: 0.85rem;
}

.tag-pilates {
    background-color: var(--pilates-bg-color);
}

.tag-funcional {
    background-color: var(--funcional-bg-color);
}

.tag-stretching {
    background-color: var(--stretching-bg-color);
}

.sede {
    font-weight: 600;
    padding: 6px 6px;
    border-radius: 3px;
    display: inline-block;
}

.sede-campana {
    color:var(--primary-font-color);
    
}

.sede-cuenca {
    color:var(--primary-font-light-color);
    background-color: var(--button-bg-color3);
    }

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
    
    th, td {
        padding: 8px;
    }
    
    .tag {
        font-size: 0.75rem;
    }
}