@import url(./variables.css);

.parallax-wrapper {
    position: relative;
    overflow: hidden;
    padding: 80px 0;
}

.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.parallax-row {
    position: absolute;
    white-space: nowrap;
    font-size: 200px;
    opacity: 0.04;
    font-weight: 700;
    letter-spacing: 2px;
    width: 150%; /* Más ancho que el contenedor para permitir movimiento */
    color: var(--);
}

/* .parallax-row--right {
    animation: moveRight 80s linear infinite;
}

.parallax-row--left {
    animation: moveLeft 80s linear infinite;
} */

.parallax-row--pilates {
    top: 5%;
    color: var(--primary-font-color);
}

.parallax-row--funcional {
    top: 20%;
    color: var(--funcional-bg-color);
}

.parallax-row--stretching {
    top: 35%;
    color: var(--stretching-bg-color);
}

.parallax-row--pilates2 {
    top: 50%;
    color: var(--primary-font-color);
}

.parallax-row--funcional2 {
    top: 65%;
    color: var(--funcional-bg-color);
    left: -100%;
}

.parallax-row--stretching2 {
    top: 80%;
    color: var(--stretching-bg-color);
}

/* @keyframes moveRight {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%);
    }
}
 */