@import url('./variables.css');

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    font-family: var(--primary-font-family);
    font-size: 16px;
}

/* Navegación desktop (oculta en móvil) */
.nav-desktop {
    display: none;
}

/* Header y navegación móvil */
.header .nav-mobile {
    background-color: var(--secondary-bg-color);
    color: var(--primary-font-color);
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
}

/* Bloque de marca */
.nav-mobile__brand {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: var(--logo-font-family);
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 2px;
}

/* .nav-mobile__brand img {
    width: 50px;
} */

/* Botón toggle del menú */
.nav-mobile__toggle {
    width: 28px;
    height: 30px;
    margin-left: auto;
    padding: 12px;
    background-color: var(--secondary-bg-color);
}

.nav-mobile__toggle-line {
    width: 100%;
    height: 5px;
    background-color: var(--primary-font-color);
    margin: 4px auto;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
    z-index: 9999;
    position: sticky;
}

.nav-mobile__toggle.on .nav-mobile__toggle-line--one {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav-mobile__toggle.on .nav-mobile__toggle-line--two {
    opacity: 0;
}

.nav-mobile__toggle.on .nav-mobile__toggle-line--three {
    transform: rotate(-45deg) translate(7px, -8px);
}

/* Footer link (oculto en móvil) */
.footer__link {
    display: none;
}

/* Menú móvil */
/* Menú móvil */
.nav-mobile__menu {
    background-color: var(--secondary-bg-color);
    width: 100%;
    height: 70vh;
    padding: 10px;
    line-height: 70px;
    text-align: left;
    margin: auto;
    z-index: 99999;
    position: absolute;
    font-family: var(--primary-font-family);
    left: -100%;
    /* Comienza fuera de la pantalla */
    top: 60px;
    display: block;
    /* Para que funcione la transición */
    opacity: 0;
    /* Inicialmente invisible */
    transition: left var(--transition-medium), opacity var(--transition-medium);
}

.nav-mobile__menu.nav-mobile__menu--active {
    left: 0;
    opacity: 1;
}

.nav-mobile__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary-font-color);
}

.nav-mobile__link:hover {
    color: var(--hover-font-color);
    border-bottom: 2px solid var(--hover-font-color);
    transition: var(--transition-fast);
}

.nav-mobile__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
}

.nav-mobile__social-link {
    color: var(--primary-font-color);
    text-decoration: none;
    padding-right: 20px;
    font-size: 2rem;
}

.nav-mobile__social-link:hover {
    color: var(--hover-font-color);
    transition: var(--transition-fast);
}


/* Sección principal */
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) 40%, transparent 70%), url('../img/main-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #BBB5BD;
}

.main__content {
    /*position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    font-size: 5rem;
    color: var(--primary-font-light-color);
    margin: 0;
    /* position: relative; */
    font-family: var(--logo-font-family);
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.main__subtitle {
    font-size: 1.4rem;
    /*  position: absolute; */
    background: var(--primary-font-color);
    /* Color amarillo */
    color: var(--primary-font-light-color);
    padding: 5px 15px;
    /*  transform: rotate(-5deg); */
    /* Inclinación */
    /* left: 0;*/
    bottom: -25px;
    /* Ajuste para mejor ubicación */
    margin: 0;
    display: inline-block;
    font-family: var(--primary-font-family);
    letter-spacing: 2px;
    font-weight: 600;
}

.main__cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--button-text-color);
    background: var(--button-bg-color);
    text-decoration: none;
    border-radius: 5px;
}

.main__cta:hover {
    background: var(--primary-bg-color);
    border: 1px solid var(--button-bg-color);
    color: var(--primary-font-color);
    transition: var(--transition-fast);
    margin-left: -1px;
}

.main__cta-text {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--secondary-font-light-color);
    text-align: center;
}

/* Secciones comunes */
/* .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.section__article {
    width: 80%;
    margin: 0 auto;
}

/* SECCIÓN QUÉ HACEMOS */

.section .section__article .section__title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    color: var(--primary-font-color);
    margin-bottom: 1rem;
    font-family: var(--title-font-family);
}

.section__text {
    font-size: 1.4rem;
    color: var(--primary-font-color);
    font-family: var(--text-font-family);
    padding: 30px;
}

.section--nosotros {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section--que-hacemos {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Estilo común para los contenedores de actividades */
.section__activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Estilo común para el contenido de las actividades */
.section__activity-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__activity-title {
    font-size: 2rem;
    font-weight: 600;
}

.section__activity-text {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--secondary-font-family);
}

.section__activity-img {
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* BOTÓN WHATSAPP */
.whatsapp-section__link {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: var(--background-color-whatsapp);
    opacity: 0.8;
    color: var(--primary-font-light-color);
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.whatsapp-section__link:hover {
    opacity: 1;
    background-color: var(--background-color-hover-whastapp);
    color: var(--primary-font-light-color);
    transition: var(--transition-fast);
}

.whatsapp-section__icon {
    color: var(--primary-font-light-color);
}

/* BOTÓN VOLVER ARRIBA */
.back-to-top__container {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 99999;
    margin-left: -60px;
    transition: var(--transition-medium);
}

.back-to-top__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-decoration: none;
}

.back-to-top__icon {
    font-size: 1rem;
    color: var(--primary-font-light-color);
}

.back-to-top__link:hover {
    background: var(--hover-bg-color);
    transition: var(--transition-medium);
}

.back-to-top__icon:hover {
    transform: translateY(-3px);
    transition: var(--transition-medium);
    color: var(--primary-font-color);
}

/* Estilos responsive - Media Queries */
/* Entre 992px y 1199px - Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {

    .header .nav-mobile {
        display: none;
    }

    .nav-desktop {
        /* organización del contenido */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        /* Asegura que esté por encima de otros elementos */
        z-index: 9999;

        /* estilos del contenido */
        height: 50px;
        position: relative;
        margin-top: -50px;
        background-color: transparent;
        backdrop-filter: blur(10px);
    }

    .nav-desktop__items {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav-desktop__link {
        text-decoration: none;
        color: var(--primary-font-light-color);
        font-family: var(--primary-font-family);
        font-size: 1.1rem;
        font-weight: 600;
        position: relative;
    }

    .nav-desktop__link--icon {
        display: none;
    }

    .nav-desktop__link:not(:first-child):hover {
        color: var(--hover-font-color);
        border-bottom: 2px solid var(--hover-font-color);
        margin-top: 2px;
        /* Añade una línea debajo en el estado de hover */
    }

    /* Estilo cuando .nav-desktop está fijo en la parte superior */
    .nav-desktop--fixed {
        height: 60px;
        margin-top: 0;
        position: fixed;
        top: 3%;
        left: 5%;
        width: 90%;
        border-radius: 5px;
        background-color: var(--secondary-bg-color);
        /* Puedes ajustar el color de fondo según tu diseño */
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px 0px, rgba(0, 0, 0, 0.23) 0px 6px 6px 0px;
        /* Sombra para resaltar */
        animation: slideDown 1.2s ease;
        /* Duración, transición y tipo de animación */
        font-family: var(--primary-font-family);
        padding-left: 40px;
    }

    .nav-desktop--fixed .nav-desktop__link {
        color: var(--primary-font-color);
    }

    .nav-desktop--fixed .nav-desktop__link--icon {
        display: inline-block;
        font-family: var(--logo-font-family);
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 2px;
        position: absolute;
        left: 10px;
        /* Ajusta este valor según sea necesario */
        top: 50%;
        /* Centra verticalmente */
        transform: translateY(-50%);
        /* Ajusta para centrar verticalmente */
    }

    /* .nav-desktop--fixed .nav-desktop__link--icon img {
        width: 50px;
    } */

    .nav-desktop--fixed .nav-desktop__link:not(:first-child):hover {
        color: var(--hover-font-color);
        border-bottom: 2px solid var(--hover-font-color);
        margin-top: 2px;
    }

    .main {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        padding-left: 30px;

        background-color: #112626;
        /* Fondo oscuro */
    }

    .main__content {
        /* position: relative; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 30px;
    }

    .main__title {
        font-size: 6rem;

        margin: 0;
        letter-spacing: 5px;
        /*         position: relative;
 */
    }

    .main__subtitle {
        font-size: 1.7rem;
        /* position: absolute; */

        padding: 5px 15px;
        /*  transform: rotate(-5deg); */
        /* Inclinación */
        /*   left: 0;
        bottom: -60px; */
        /* Ajuste para mejor ubicación */
        margin: 0;
        display: inline-block;
    }

    /* Estilo común para los contenedores de actividades */
    .section__activity {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 40px;
        background-color: var(--pilates-bg-color);
        box-shadow: var(--activity-box-shadow);
        border-radius: 5px;
        padding: 50px;
    }

    .section__activity-text {
        font-size: 1.4rem;
        
    }

    .section__activity--pilates .section__activity-title {
        color: var(--activity-font-color);
    }

    .section__activity--pilates .section__activity-text {
        color: var(--primary-font-light-color);
    }

    .section__activity--pilates .section__activity-text a {
        color: var(--activity-font-color);
    }

    .section__activity--funcional {
        flex-direction: row-reverse;
        background-color: var(--funcional-bg-color);
        color: var(--primary-font-light-color);
    }

    .section__activity--funcional .section__activity-title {
        color: var(--primary-font-color);
    }

    .section__activity--funcional .section__activity-text a {
        color: var(--primary-font-color);
    }

    .section__activity-content {
        width: 50%;
        align-items: flex-start;
    }


    .section__activity-img {
        width: 35%;
        margin-left: 0;
        margin-right: 0;
    }



    @keyframes slideDown {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(1%);
        }
    }
}