:root {
    /* FONTS */ 
    --logo-font-family: "bombarda", serif;
    --title-font-family: "arvo", serif;
    --text-font-family: "hind", sans-serif;
    --primary-font-family: "Sora", sans-serif;
    --secondary-font-family: "Lato", serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;

    /* FONT COLOR */
    --primary-font-color: #003049;
    --secondary-font-color: #093a53;
    --primary-font-light-color: #f0f8ff; 
    --secondary-font-light-color: #f4f6ff;
    --activity-font-color: #FFD284;
    --activity-navbar-font-color: #FF9E00;
    

    /* HOVER FONT COLOR */
    --hover-font-color: #FFD284;
    --hover-font-color2: #fcba54;

    /* BACKGROUND */
    --primary-bg-color: #f0f8ff;  /* Fondo principal */
    --secondary-bg-color: #f8f9fa;  /* Fondo secundario */
    --hover-bg-color: #FFD284;
    --hover-bg-color1: #003049;
    --hover-bg-color2: #fcba54;
    --hover-bg-color3: #40B645; /* Fondo al pasar el mouse en botones */
    --navbar-bg-color:#FFF8E3;
    --pilates-bg-color: #10375c;
    --funcional-bg-color: #FFD284;
    --stretching-bg-color: #81C784;
    --nosotros-bg-color: #003049;

    /* BORDER */
    --border-color: #ced4da;
    --hover-border-color: #FFD284;

    /* BUTTON */
    --button-bg-color: #FFD284;
    --button-bg-color2: #fcba54;
    --button-bg-color3: #003049;
    --button-text-color: #f0f8ff;

    /* SHADOWS */
    --box-shadow-light: 0px 2px 10px rgba(0, 0, 0, 0.1);
    --box-shadow-dark: 0px 4px 15px rgba(0, 0, 0, 0.3);
    --activity-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    /* TRANSITIONS */
    --transition-fast: 0.2s ease-in-out;
    --transition-medium: 0.4s ease-in-out;



    /* BTN WHATSAPP */
    --background-color-whatsapp: #25d366;
    --background-color-hover-whastapp: #075e54;
}